<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Movie Recommendation System</title>
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/dcfe4895aa.js" crossorigin="anonymous"></script>
    <link rel="icon" href="data:;base64,=">
  </head>
  <body>
    <h1 class="text-center my-4 fw-bolder text-light fs-1">Movie Recommendation <br> System</h1>
    <div class="wrapper">
      <div class="search-input">
        
        <input type="text" placeholder="Search for recommendations..">
        <div class="autocom-box">
          <!-- here list are inserted from javascript -->
        </div>
        <div class="icon"><i class="fas fa-search"></i></div>
      </div>
    </div>
    <!-- this will show our spinner -->
    <br> <br> <br>
    <div id="spinner"></div> 

    
   <div id="recom" class="container">
 
  </div> 
    
    
    
    
    
    
    
    
    
    
<br><br>

    <div class="container">
      <div id="play" class="row row-cols-1 row-cols-md-4 g-4">
       
        
        <!--load content from javascript -->
        
      </div>
    </div>
    <br> <br> <br>
    <footer class="p-3 mb-2 bg-dark text-white fixed-bottom text-center">Made with &#10084;&#65039; by Taral Desai <a target="_blank" href="https://github.com/taral-desai/Movie-Recomendation-System-end-to-end"><i class="fab fa-github fa-lg"></i> </a> &NonBreakingSpace;<a target="_blank" href="https://www.linkedin.com/in/taral-desai/"><i class="fab fa-linkedin fa-lg"></i></a> </footer>
    <script src="/static/suggestions.js"></script>
    <script src="/static/script.js"></script>

  </body>
</html>

